NODE_ENV=production
PORT=3000
MONGO_URI=
BCRYPT_SALT_ROUNDS=10
DEFAULT_USER_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=5d
JWT_REFRESH_EXPIRES_IN=30d
DOMAIN=https://your-vercel-project.vercel.app
FRONTEND_URL=https://your-frontend-domain.com
SMTP_USER=
SMTP_PASS=
EMAIL_USER=
EMAIL_APP_NAME=ABC University
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_FAMILY=4
CLOUD_NAME=
API_KEY=
API_SECRET=
SUPER_ADMIN_ID=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=